* {margin: 0; padding: 0; box-sizing: border-box;}
  
header{
    background-color: rgb(31, 30, 30);
    color: white;
    text-align: center;
    padding: 10px; 
  }

  
main{
    margin-bottom: 50px;

}

p{
  text-align: justify;
}
  